<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="css/ex.css") }}"/>
    <title>Search_by_photo</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var mask = $("#mask"),
                ph_cancel = $('#ph_cancel'),
                xuanfu = $('#xuanfu');

            xuanfu.hide();
            mask.hide();

            mask.click(function(){
                xuanfu.fadeOut();
                mask.fadeOut();
            });
            ph_cancel.click(function () {
                xuanfu.fadeOut();
                mask.fadeOut();
            });
        });
    </script>
</head>
<body style="background-image:url({{ url_for("static",filename="img/i.png") }});background-repeat:repeat-y; width: 100%; height: 100%; margin:0px; padding:0px;">
<div style="width:100%;">
    <div><!--头部开始-->
        <!--        <div class="xiaoxi2">-->
        <!--        </div>-->
        <div class="headerOuterWrapper1">
            <div class="headerWrapper1" style="">
                <a href="http://121.199.50.208:8080/"><span style="float:left; margin-top: 7px; margin-right:15px;margin-left:-10px;"><</span></a>
                <p style="margin-top: 0;padding-top: 7px;  text-align: center;font-weight: 600;font-size: 15px ;">上传图片搜素</p>
            </div>
        </div>
        <div class="headerOuterWrapper2">
            <div class="headerWrapper2">
                <form >
                    <div class="file_a">
                        <input id="load" type="file" onchange="upload(this.files)" multiple/>
                        <img src="http://121.199.50.208:8080/static/img/j3.png">
<!--                        <input type="file"  name="file" id="file" >-->
                        <p style="color: #9f9f9f;font-size: 12px">Upload  your  sticker</p>
                    </div>
                    <div class="file_b">
                        <button id="submited" class="button5" >
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="margin-bottom:100px;"><!--内容开始-->
        <div class="neir5">
            <div class="aaa">
                <div class="ccc">
                    <div align="left" style="float:left ;width: 50%">
                        {% for dict1 in dicts1 %}
                            <img name="marginImg" onclick="show(this)" src={{ dict1 }} width="98%" style="border: 1px solid rgba(0,0,0,0.11)">
                        {% endfor %}
                    </div>
                    <div align="right">
                        {% for dict2 in dicts2 %}
                            <img name="marginImg" onclick="show(this)" src={{ dict2 }} width="49%" style="border: 1px solid rgba(0,0,0,0.11)">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div><!--内容结束-->
    <div class="bott"></div>
     <div class="db">
        <ul class="ulul">
            <li>
                <a href="http://121.199.50.208:8080/"><img class="tupian" src="http://121.199.50.208:8080/static/img/sy.png" alt="">
                    <p class="zizi">首页</p></a>
            </li>
            <li>
                <a href="http://121.199.50.208:8080/collect"><img class="tupian" src="http://121.199.50.208:8080/static/img/C3.png" alt="">
                    <p class="zizi">收藏</p></a>
            </li>
            <li>
                <a href="http://121.199.50.208:8080/boutique"><img class="tupian" src="http://121.199.50.208:8080/static/img/C5.png" alt="">
                    <p class="zizi">精品</p></a>
            </li><li>
            <a href="http://121.199.50.208:8080/personal"><img class="tupian" src="http://121.199.50.208:8080/static/img/C6.png" alt="">
                <p class="zizi">我的</p></a>
        </li>
        </ul>
    </div>
    <div id="xuanfu">
        <!--图片框-->
        <div style="background-image:url(http://121.199.50.208:8080/static/img/x2.png);background-repeat:no-repeat;" id="ph" class="login_msg">
            <a id="ph_cancel"><img align="right" src="http://121.199.50.208:8080/static/img/x8.png" style="margin-top:-15px;"></a>
            <div class="flasaa">
                <a onclick="disableElement_left()"><img align="left" src="http://121.199.50.208:8080/static/img/x10.png" style="width: 15%;"></a>
                <img id="view_img" class="species_img" align="center" src="http://121.199.50.208:8080/static/img/猫和老鼠/4.jpg">
                <a onclick="disableElement_right()"><img align="right" src="http://121.199.50.208:8080/static/img/x11.png" style="width:15%;"></a>
            </div>
            <div style="position:relative; margin-top:30px;bottom: 10px;">
                <img align="left" style="margin-left: 30px;" src="http://121.199.50.208:8080/static/img/x4.png">
                <img align="right" style="margin-right: 30px;" src="http://121.199.50.208:8080/static/img/x5.png">
            </div>
        </div>
        <!--评论框-->
        <div id="ph_comment" class="comment_msg">
            <label style="font-size: small">快来评论吧…</label>
            <img onclick="sendcomment()" align="right" style="width: 20px; margin-right: 15px" src="http://121.199.50.208:8080/static/img/f7.png">
            <input id="comment_content" type="text" class="form-control" placeholder="">
            <!--        <input style="border:0;border-bottom: 1px solid black;">-->
            <hr align="left" width=98%;color=rgba(204, 204, 204, 0.24); size=1>
            <div class="comment_content">
                <p class="form-control_x">有点意思</p>
            </div>
        </div>
    </div>
    <div id="mask"></div>
</div>

<script>
    function upload(files){
        console.log(files[0]);
        var form = new FormData();
        form.append('file', files[0]);

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if(xhr.readyState == 4){
                var data = xhr.responseText;
                $(document.body).html(data);
            }
        };
        xhr.open('post', 'http://121.199.50.208:8080/search_photo', true);
        xhr.send(form);

    }

    function sendcomment() {
        var comment_content = $("#comment_content").val();
        var img2src = $("#view_img").attr("src");
        var data= {
            data: JSON.stringify({
                'comment_content': comment_content,
                "img2src": img2src
            }),
        }
        $.ajax({
            url:'http://121.199.50.208:8080/send_comment',
            type:'POST',
            data:data,
            dataType: 'text',
            success:function(data){
                document.getElementById('comment_content').value = "";
                $(".comment_content").html("");
                $(".comment_content").append(data);
            },
            error:function (data) {

            }
        })
    }

    function show(obj){
        var mask = $("#mask"),
            view_img = $("#view_img"),
            xuanfu = $('#xuanfu');
        mask.fadeIn();
        var src = obj.src;
        view_img.attr("src", src);
        xuanfu.fadeIn();
    }

    function disableElement_right(){
        var img2src = $("#view_img").attr("src");
        var imgs = document.getElementsByName("marginImg");
        var tmp = '';
        domLen = imgs.length;
        for (var i = 0; i < domLen; i++) {
            var v = imgs[i];
            if( v.src === img2src){
                if (i !== domLen-1){
                    tmp = imgs[i+1].src;
                }else {
                    tmp = imgs[0].src;
                }
                break;
            }
        }
        $("#view_img").attr("src", tmp);
        var direction = "right";
        var data= {
            data: JSON.stringify({
                'imgname': tmp,
                'direction': direction
            }),
        }
        $.ajax({
            url:'http://121.199.50.208:8080/search_comment',
            type:'POST',
            data:data,
            dataType: 'text',
            success:function(data){
                $(".comment_content").html("");
                $(".comment_content").append(data);
            },
            error:function (data) {

            }
        })
    }

    function disableElement_left(){
        var img2src = $("#view_img").attr("src");
        var imgs = document.getElementsByName("marginImg");
        var tmp = '';
        domLen = imgs.length;
        for (var i = 0; i < domLen; i++) {
            var v = imgs[i];
            if( v.src === img2src){
                if (i === 0){
                    tmp = imgs[domLen-1].src;
                }else {
                    tmp = imgs[i-1].src;
                }
                break;
            }
        }
        $("#view_img").attr("src", tmp);
        var direction = "left";
        var data= {
            data: JSON.stringify({
                'imgname': tmp,
                'direction': direction
            }),
        }
        $.ajax({
            url:'http://121.199.50.208:8080/search_comment',
            type:'POST',
            data:data,
            dataType: 'text',
            success:function(data){
                $(".comment_content").html("");
                $(".comment_content").append(data);
            },
            error:function (data) {

            }
        })
    }
</script>

</body>
</html>